
/* https://www.sliderrevolution.com/resources/css-border-animation/ */

* {
    padding: 0;
    margin: 0;
}


.keys {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 1.5rem;
    transition: all 0.07s;
    width: 350px;
    text-align: center;
    text-shadow: 0 0 5px black;
}

.key {
    width: 150px;
    height: 110px;
    margin: 0.5px;




    border-top: 4px solid black;
    border-bottom: 3px solid rgb(255, 0, 0);
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(0,0,0,0.4);
    color: white;




}

.playing {
    transform: scale(1.1);
    border-color: #ffe600;
    box-shadow: 0 0 10px #ffc600;
}

.sound {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffc600;
}

kbd {
    display: block;
    font-size: 10px;
}

#audioBoard {
    width: 100%;
    max-width: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c887a;
}